:root {
    --body-background-color: hsl(47, 88%, 63%);
    --card-backgound-color: hsl(0, 0%, 100%);
    --sub-text-color: hsl(0, 0%, 42%);
    --bold-text-color: hsl(0, 0%, 7%);

    --heading-text-fw: 800;
    --category-text-fw: 800;
    --publish-text-fw: 400;
    --sub-text-fw: 400;
    --author-text-fw: 800;

    --heading-text-fs: 1.5rem;
    --category-text-fs: .875rem;
    --sub-text-fs: 1rem;
    --publish-text-fs: .875rem;
    --author-name-fs: .875rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree';
}

html {
    height: 100%;
}

h1 {
    all: initial;
}

/* color and font */

body {
    background-color: var(--body-background-color);
    height: 100%;
    display: grid;
    place-items: center;
}

.card {
    background-color: var(--card-backgound-color);
    box-shadow: .5rem .5rem;
    border: black 1px solid;
    margin-left: .9rem;
    margin-right: 1rem;
}

.category {
    font-size: var(--category-text-fs);
    font-weight: var(--category-text-fw);
    background-color: var(--body-background-color);
}

.publish {
    font-size: var(--publish-text-fs);
    font-weight: var(--publish-text-fw);
}

h1 {
    font-size: var(--heading-text-fs);
    font-weight: var(--heading-text-fw);
    font-family: 'Figtree';
}

.subText {
    font-size: var(--sub-text-fs);
    font-weight: var(--sub-text-fw);
    color: var(--sub-text-color);
}

.author {
    font-size: var(--author-name-fs);
    font-weight: var(--author-text-fw);
}

/* layout */

.card {
    max-width: 24rem;
    height: fit-content;
    padding: 1.5rem;
    border-radius: 1.25rem;
}

.headingImg {
    max-width: 100%;
    max-height: 12.5rem;
    margin-bottom: 1.5rem;
    border-radius: .625rem;
}

.category {
    width: fit-content;
    padding: .25rem .75rem;
    border-radius: .25rem;
    line-height: 1.5rem;
}

h1:hover {
    cursor: pointer;
    color: var(--body-background-color);
}


.subText {
    margin-bottom: 1.5rem;
}

.textBlock {
    display: grid;
    gap: .75rem;
    line-height: 1.5rem;
}

.author {
    display: flex;
    gap: .75rem;
    align-items: center;
}

.author img {
    max-width: 2rem;
    max-height: 2rem;
}


.attribution { 
    font-size: 11px; text-align: center; 
    position: relative;
    bottom: -50px;
}
    
.attribution a {
    color: hsl(228, 45%, 44%); 
} 
